.clock_container{
    margin-right: 5px;
}

.news{
    width: 40%;
    height: 100%;
}

.schemes_banner{
    color: white;
    font-weight: bold;
    background-color: red;
    padding: 4px;
}

.border{
    border-bottom: 1px solid rgb(201, 201, 201);
}


.low_padding{
    padding: 2px;
}